<% include partials/top %>

<div class="container mt-3 mb-3">
  
  <div class="col">

    <h1>Results</h1>

    <div class="border">

      <ul class="list-group list-group-flush border-bottom-0">

        <li class="list-group-item list-group-item-secondary text-dark"><%= data.address %></li>

        <li class="list-group-item list-group-item-secondary text-dark">Currently: <%= data.temperature %>째F</li>

        <li class="list-group-item list-group-item-secondary text-dark">Currently Feels Like: <%= data.feelsLike %>째F</li>

        <li class="list-group-item list-group-item-secondary text-dark">Current Conditions: <%= data.currently %></li>

        <li class="list-group-item list-group-item-secondary text-dark">Today's High: <%= data.temperatureHigh %>째F</li>

        <li class="list-group-item list-group-item-secondary text-dark">Today's Low: <%= data.temperatureLow %>째F</li>

        <li class="list-group-item list-group-item-secondary text-dark">Today: <%= data.today %></li>
        
        <li class="list-group-item list-group-item-secondary text-dark">Tomorrow: <%= data.tomorrow %></li>

        <li class="list-group-item list-group-item-secondary text-dark">Forecast: <%= data.forecast %></li>

      </ul>

      <div class="list-group list-group-flush border-top-0">

        <a href="/" class="list-group-item list-group-item-action list-group-item-secondary text-dark">Search Again</a>

        <a href="https://www.aaronshivers.com/" rel="noopener" class="list-group-item list-group-item-action list-group-item-secondary text-dark">Created by Aaron Shivers</a>

        <a href="https://darksky.net/poweredby/" rel="noopener" class="list-group-item list-group-item-action list-group-item-secondary text-dark">Powered by Dark Sky</a>
        
        <div></div>

      </div>

    </div>

  </div>

</div>

<% include partials/bottom %>
